<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id = "com.caladri.got"
	version = "1.0.0">
	<name>Game of Thrones</name>
	<description>Game of Thrones</description>
	<author href="http://caladri.com" email="contato@caladri.com"></author>
</widget>