[data-role="footer"] {text-align: center; padding: 5px 0;}
.forrit { padding: .25em; text-align:center;}
#arryn { background-image:url('icons/arryn.jpg'); }
#baratheon { background-image:url('icons/baratheon.jpg'); }
#bolton { background-image:url('icons/bolton.jpg'); }
#greyjoy { background-image:url('icons/greyjoy.jpg'); }
#housefrey { background-image:url('icons/housefrey.jpg'); }
#lannister { background-image:url('icons/lannister.jpg'); }
#martell { background-image:url('icons/martell.jpg'); }
#mormot { background-image:url('icons/mormont.jpg'); }
#stark { background-image:url('icons/stark.jpg'); }
#targaryen { background-image:url('icons/targaryen.jpg'); }
#tarly { background-image:url('icons/tarly.jpg'); }
#tully { background-image:url('icons/tully.jpg'); }
#tyrell { background-image:url('icons/tyrell.jpg'); }
